/* This css file contains all of the the fonts associated with the site */

@font-face {
    font-family: 'conduit_itc';
    src: url('../fonts/conduit_itc.eot');
    src: url('../fonts/conduit_itc.eot? #iefix') format('embedded-opentype'),
         url('../fonts/conduit_itc.woff') format('woff'),
         url('../fonts/conduit_itc.ttf') format('truetype'),
         url('../fonts/conduit_itc.svg #conduit_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'conduit_itc_bold';
    src: url('../fonts/conduit_itc_bold.eot');
    src: url('../fonts/conduit_itc_bold.eot? #iefix') format('embedded-opentype'),
         url('../fonts/conduit_itc_bold.woff') format('woff'),
         url('../fonts/conduit_itc_bold.ttf') format('truetype'),
         url('../fonts/conduit_itc_bold.svg #conduit_itc_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'conduit_itc_light';
    src: url('../fonts/conduit_itc_light.eot');
    src: url('../fonts/conduit_itc_light.eot? #iefix') format('embedded-opentype'),
         url('../fonts/conduit_itc_light.woff') format('woff'),
         url('../fonts/conduit_itc_light.ttf') format('truetype'),
         url('../fonts/conduit_itc_light.svg #conduit_itc_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'conduit_light';
    src: url('../fonts/conduit_light.eot');
    src: url('../fonts/conduit_light.eot? #iefix') format('embedded-opentype'),
         url('../fonts/conduit_light.woff') format('woff'),
         url('../fonts/conduit_light.ttf') format('truetype'),
         url('../fonts/conduit_light.svg #conduit_itc_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'handel_gothic_medium';
    <link href="https://fonts.googleapis.com/css2?family=Saira" rel="stylesheet"> 
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCksAxljYm.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'handel_gothic_medium';
    <link href="https://fonts.googleapis.com/css2?family=Saira" rel="stylesheet"> 
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCks8xlg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

a {
	text-decoration: none;
	color: #8EB1CF;
}

/* Icon Classes */
.locked {
	background-image: url(../images/icons/icon_locked.png);
	height: 32px;
	width: 32px;
}
/* End Icon Classes */
/* End Of File */
